@*@model IEnumerable<DiemdanhHocvien.DataAccess.Attendence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}*@

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@

@model IEnumerable<DiemdanhHocvien.DataAccess.Class>

@{
    ViewBag.Title = "Index";
}

@section _Header{
    <link href="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        @*<h1 class="h3 mb-0 text-gray-800">DataTables</h1>*@

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-start">
            <a href="@Url.Action("Create")" class="btn btn-outline-success ml-2">
                Create
            </a>
            <a href="@Url.Action("Create")" class="btn btn-outline-success ml-2">
                Create
            </a>
            <a class="btn btn-outline-success ml-2">
                Count: @Model.Count()
                @*@ViewBag.user*@
            </a>
        </div>

    </div>


    <!-- Row -->
    <div class="row">

        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">


                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.codeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.className)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.startDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.endDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dayOfWeek)
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.codeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.className)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.startDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.endDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dayOfWeek)
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{ int key = 0;}
                            @{var soluong = ViewBag.soluong; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.codeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.className)
                                    </td>
                                    <td>
                                        @item.endDate.ToString("dd-MM-yyy")
                                        @*@Html.DisplayFor(modelItem => item.endDate)*@
                                    </td>
                                    <td>
                                        @item.startDate.ToString("dd-MM-yyy")
                                        @*@Html.DisplayFor(modelItem => item.startDate)*@
                                    </td>

                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.dayOfWeek)*@
                                        @{ List<int> dayof = item.dayOfWeek.Split(',').Select(Int32.Parse).ToList(); }
                                        @*@dayof[0]*@
                                        @foreach (var day in dayof)
                                        {

                                            switch (day)
                                            {
                                                case 0:
                                                    <span>2</span>
                                                    break;
                                                case 1:
                                                    <span>3</span>
                                                    break;
                                                case 2:
                                                    <span>4</span>
                                                    break;
                                                case 3:
                                                    <span>5</span>

                                                    break;
                                                case 4:
                                                    <span>6</span>

                                                    break;
                                                case 5:
                                                    <span>7</span>
                                                    break;
                                                case 6:
                                                    <span>CN</span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td> @soluong[key]</td>
                                    @{key++;
                                    }
                                <td>
                                    <a title="Edit" href="@Url.Action("attendenceTeacher" ,new { id = item.id})" class="btn btn-secondary">
                                        <i class="fas fa-fw fa-thumbs-up"></i>
                                    </a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-fw fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a title="Edit" href="@Url.Action("Edit","Class" ,new { id = item.id})" class="btn btn-secondary">
                                                <i class="fas fa-fw fa-edit"></i>
                                            </a>
                                            <a title="Details" href="@Url.Action("details","Class" ,new { id = item.id})" class="btn btn-warning">
                                                <i class="fas fa-fw fa-fingerprint"></i>
                                            </a>
                                            <a title="Delete" href="@Url.Action("delete","Class" ,new { id = item.id})" class="btn btn-danger">
                                                <i class="fas fa-fw fa-trash-alt"></i>
                                            </a>
                                            <a title="Add Student" href="@Url.Action("addStudent","Class" ,new { id = item.id})" class="btn btn-info">
                                                <i class="fas fa-fw fa-plus"></i>
                                            </a>
                                        </div>
                                    </div>


                                </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->  
</div>
<!---Container Fluid-->

@section _Footer{
    <script>
        $("#actionName").text("Class list")
    </script>
    <!-- Page level plugins -->
    <script src="~/Assets/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
}
< 
