@model DiemdanhHocvien.DataAccess.User

@{
    ViewBag.Title = "Edit";
} 
<div class="container-fluid" id="container-wrapper">

    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        @*<h1 class="h3 mb-0 text-gray-800">DataTables</h1>*@

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Student</li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </div>
    <div class="row">
        <div class="col"></div>

        <div class="col-6">

            <div class="card mb-4">
                <div class="card-body">
                    <form method="post" action="@Url.Action("EDIT")">
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.UserId)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">user Name</label>
                            <input type="text" class="form-control" placeholder="Holy name" value="@Model.Username" name="Username">
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">

                            <div class="col">

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">last Name</label>
                                    <input type="text" class="form-control" placeholder="Holy name" value="@Model.LastName" name="LastName">
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">first Name</label>
                                    <input type="text" class="form-control" placeholder="Holy name" value="@Model.FirstName" name="FirstName">
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">email address</label>
                            <input type="text" class="form-control" placeholder="Holy name" value="@Model.Email" name="Email">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">password</label>
                            <input type="text" class="form-control" placeholder="Holy name" value="@Model.Password" name="Password">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div> 

                        <div class="d-flex justify-content-between ">

                            <a href="@Url.Action("index" )" class="btn btn-primary">Back to list</a>
                            <button type="submit" class="btn btn-primary">SAVE</button>
                        </div>


                    </form>

                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>




@section _Header{
    <!-- Bootstrap DatePicker -->
    <link href="vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap Touchspin -->
    <link href="vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
    <!-- ClockPicker -->
    <link href="vendor/clock-picker/clockpicker.css" rel="stylesheet">
}
@section _Footer{

    <script>
            $("#actionName").text("Student")
    </script>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="~/Areas/admin/Assets/#page-top">
        <i class="fas fa-angle-up"></i>
    </a>




}

 