@model DiemdanhHocvien.DataAccess.Student
 @{
    ViewBag.Title = "Edit";
}
<div class="container-fluid" id="container-wrapper">

    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        @*<h1 class="h3 mb-0 text-gray-800">DataTables</h1>*@
        <script>
            $("#actionName").text("Student")
        </script>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Student</li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </div>
    <div class="row">
        <div class="col"></div>

        <div class="col-6">

            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Form Basic</h6>
                </div>
                <div class="card-body">
                    <form method="post" action="@Url.Action("edit","student")">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Holy Name</label>
                            <input type="text" class="form-control" placeholder="Holy name" value="@Model.holyName" name="holyname">
                            @Html.ValidationMessageFor(model => model.holyName, "", new { @class = "text-danger" })


                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">Last Name</label>
                                    <input type="text" class="form-control" placeholder="last name" value="@Model.lastName" name="lastName">
                                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col">

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">First Name</label>
                                    <input type="text" class="form-control" placeholder="first name" value="@Model.firstName" name="firstname">
                                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">birth of day</label>
                            @{String dateBOD = @Model.BOD.ToString("yyyy-MM-dd");}
                            <input type="date" class="form-control" value="@dateBOD" name="BOD">
                            @Html.ValidationMessageFor(model => model.BOD, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter email" value="@Model.email" name="email">
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Number phone</label>
                            <input type="tel" " maxlength="13" minlength="10" class="form-control" placeholder="Enter number phone" value="@Model.numPhone" name="numPhone">
                            @Html.ValidationMessageFor(model => model.numPhone, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">Parent</label>
                            <input id="parenId" type="number" class="form-control" placeholder="Parent" value="@Model.parentId" >
                            @Html.ValidationMessageFor(model => model.parentId, "", new { @class = "text-danger" })

                        </div>


                        <button type="submit" class="btn btn-primary">SAVE</button>
                        <a href="@Url.Action("index","student")" class="btn btn-primary">Back to list</a>
                    </form>
                    <!-- Modal Scrollable -->
                    <div class="modal fade " id="exampleModalScrollable" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal scrollable title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @*ten cha ten me*@
                                    <fieldset class="form-group">


                                        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>
                                                        Mon
                                                    </th>
                                                    <th>
                                                        Mon Number phone
                                                    </th>
                                                    <th>
                                                        Mon email
                                                    </th>
                                                    <th>
                                                        Dad
                                                    </th>
                                                    <th>
                                                        Dad Number phone
                                                    </th>
                                                    <th>
                                                        Dad email
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>
                                                        Mon
                                                    </th>
                                                    <th>
                                                        Mon Number phone
                                                    </th>
                                                    <th>
                                                        Mon email
                                                    </th>
                                                    <th>
                                                        Dad
                                                    </th>
                                                    <th>
                                                        Dad Number phone
                                                    </th>
                                                    <th>
                                                        Dad email
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                @foreach (var item in ViewBag.parents as ICollection<DiemdanhHocvien.DataAccess.Parent>)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="parenId" value="@item.id" checked>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.monName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.numPhoneMom)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.emailMon)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.dadName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.numPhoneDad)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.emailDad)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.address)
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>



                                    </fieldset>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col"></div>
    </div>

    @section _Footer{
        <script>
        $("#parenId").click(function () {
            @*alert('clicked!');*@
            $("#exampleModalScrollable").modal("show");
        });


        </script>
        @*click row in table checkbox*@
        <script>
            $(document).ready(function () {
                $(' tr').click(function (event) {
                    console.log($(this).find("input").prop("checked", true));
                });
            });
        </script>
    }
     
