@model IEnumerable<DiemdanhHocvien.DataAccess.Student>

@{
    ViewBag.Title = "Index";
}

@section _Header{
    <link href="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        @*<h1 class="h3 mb-0 text-gray-800">DataTables</h1>*@
        <script>
            $("#actionName").text("Student")
        </script>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active" aria-current="page">DataTables</li>
        </ol>
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-start">
            <a href="@Url.Action("Create")" class="btn btn-outline-success ml-2">
                Create
            </a> 
            <form action="@Url.Action("addMulStudent","excel")" method="post" >
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            <button type="submit" class="btn btn-outline-success ml-2">
                <i class="fas fa-fw fa-file-excel"></i>
                Create Multi with filr excel
            </button>
            </form>
            <a   class="btn btn-outline-success ml-2">
                Count: @Model.Count()
            </a>
        </div>

    </div>

    
    <!-- Row -->
    <div class="row">

        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                

                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.holyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BOD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.numPhone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.parentId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.classId)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.lastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.firstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.holyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BOD)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.numPhone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.parentId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.classId)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.lastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.firstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.holyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BOD)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.numPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.parentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.classId)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-fw fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu ">
                                                <li>

                                                    <a title="Edit" href="@Url.Action("Edit","student" ,new { id = item.id})" class=" btn btn-secondary">
                                                        <i class="fas fa-fw fa-edit"></i> edit
                                                    </a>
                                                </li>
                                                <li>

                                                    <a title="Details" href="@Url.Action("details","student" ,new { id = item.id})" class=" btn btn-warning">
                                                        <i class="fas fa-fw fa-fingerprint"></i> Details
                                                    </a>
                                                </li>
                                                <li>

                                                    <a title="Delete" href="@Url.Action("delete","student" ,new { id = item.id})" class=" btn btn-danger">
                                                        <i class="fas fa-fw fa-trash-alt"></i>Delete
                                                    </a>
                                                </li> 
                                            </ul>
                                        </div>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Row--> 
     
</div>
<!---Container Fluid-->

@section _Footer{

    <!-- Page level plugins -->
    <script src="~/Assets/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () { 
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>
}