@model DiemdanhHocvien.DataAccess.Class


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.className)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numPhoneMom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPhoneMom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<table class="table">
    <tr>
        <th>
            lastName
        </th>
        <th>
            firstName
        </th>
        <th>
            holyName
        </th>
        <th>
            BOD
        </th>
        <th>
            numPhone
        </th>
        <th>
            email
        </th>
        <th></th>

    </tr>

    @foreach (var item in ViewBag.studentsOfClass)
    {
        <tr>
            <td>
                @item.lastName
            </td>
            <td>
                @item.firstName
            </td>
            <td>
                @item.holyName
            </td>
            <td>
                @item.BOD
            </td>
            <td>
                @item.numPhone
            </td>
            <td>
                @item.email
            </td>
            <td>
                <a data-id="@item.id" class="btn btn-outline-danger DeleteStudent"> <i class="fa fa-trash-alt"></i> </a>
            </td>

        </tr>
    }

</table>

@section _Footer{

    <script>
        $(document).delegate('.DeleteStudent', 'click', function (e) {

            e.preventDefault();
            var id =$(this).data("id");
            @*@{var id =}id{ ;}*@
            
            @*alert($(this).data("id"));*@
            $.ajax({
                    type: "post",
                    url: "@Url.Action("DeleteStudent", "class")",
                    ajaxasync: true,
                    data: { id: $(this).data("id") },
                    success: function () {

                        alert("success");
                        location.reload();
                        // Perform redirect
                        @*window.location.replace("@Html.Action("details","class")");*@
                    },
                    error: function (data) {
                        alert(data.x);
                    }
                });
        });
    </script>
}