@model DiemdanhHocvien.DataAccess.Class

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid" id="container-wrapper">
    <div class="row mb-2">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Class Name</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(model => model.className) </div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Code Name</div>
                                <span class="text-success mr-2"> @Html.DisplayFor(model => model.codeName)</span>

                            </div>
                        </div>
                        <div class="col-auto">
                            <a title="Edit" href="@Url.Action("Edit", "Class", new { id = Model.id })" class="btn btn-secondary">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col   d-flex justify-content-start">
                            <div>

                                <div class="text-xs font-weight-bold text-uppercase mb-1">Start Date</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.startDate.ToString("dd-MM-yyyy")</div>
                                <div class="text-xs font-weight-bold text-uppercase mb-1">End Date</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.endDate.ToString("dd-MM-yyyy") </div>
                            </div>

                        </div>
                        <div class="col d-flex justify-content-end">
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <div class="text-xs font-weight-bold mb-1">Day Of Week</div>
                                @*@Html.DisplayFor(modelItem => item.dayOfWeek)*@
                                @{ List<int> dayof = Model.dayOfWeek.Split(',').Select(Int32.Parse).ToList(); }
                                @*@dayof[0]*@
                                @foreach (var day in dayof)
                                {

                                    switch (day)
                                    {
                                        case 0:
                                            <button class="btn btn-success"> <span>2</span></button>
                                            break;
                                        case 1:
                                            <button class="btn btn-success"> <span>3</span></button>
                                            break;
                                        case 2:
                                            <button class="btn btn-success"> <span>4</span></button>
                                            break;
                                        case 3:
                                            <button class="btn btn-success"> <span>5</span></button>
                                            break;
                                        case 4:
                                            <button class="btn btn-success"> <span>6</span></button>
                                            break;
                                        case 5:
                                            <button class="btn btn-success"> <span>7</span></button>
                                            break;
                                        case 6:
                                            <button class="btn btn-success"> <span>CN</span></button>
                                            break;
                                        default:
                                            break;
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">New User</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">366</div>
                            <div class="mt-2 mb-0 text-muted text-xs">
                                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>
                                <span>Since last month</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-info"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                            <img class="img-profile rounded-circle" src="/Assets/dashboard/img/boy.png" style="width: 50%">
                        </div>
                        <div class="col-auto">
                            @*<i class="fas fa-comments fa-2x text-warning"></i>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive p-3">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            lastName
                        </th>
                        <th>
                            firstName
                        </th>
                        <th>
                            holyName
                        </th>
                        <th>
                            BOD
                        </th>
                        <th>
                            numPhone
                        </th>
                        <th>
                            email
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            lastName
                        </th>
                        <th>
                            firstName
                        </th>
                        <th>
                            holyName
                        </th>
                        <th>
                            BOD
                        </th>
                        <th>
                            numPhone
                        </th>
                        <th>
                            email
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in ViewBag.studentsOfClass)
                    {
                        <tr>
                            <td>
                                @item.lastName
                            </td>
                            <td>
                                @item.firstName
                            </td>
                            <td>
                                @item.holyName
                            </td>
                            <td>
                                @item.BOD
                            </td>
                            <td>
                                @item.numPhone
                            </td>
                            <td>
                                @item.email
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-fw fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a title="Edit" href="@Url.Action("Edit","Student",new { id = item.id})" class="btn btn-secondary">
                                            <i class="fas fa-fw fa-edit"></i>
                                        </a>
                                        <a title="Details" href="@Url.Action("details","student",new { id = item.id})" class="btn btn-warning">
                                            <i class="fas fa-fw fa-fingerprint"></i>
                                        </a>
                                        <a title="Delete" class="btn btn-danger DeleteStudent">
                                            <i class="fas fa-fw fa-trash-alt"></i>
                                        </a>

                                    </div>
                                </div>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>



@section _Header{
    <link href="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section _Footer{

    @*action Name for *@
    <script>
        $("#actionName").text("DeTails Class")
    </script>

    <!-- Page level plugins -->
    <script src="~/Assets/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script>
        $(document).ready(function () {
            $('#dataTableHover').DataTable(); // ID From dataTable with Hover
        });
    </script>

    <script>
        $(document).delegate('.DeleteStudent', 'click', function (e) {

            e.preventDefault();
            var id =$(this).data("id");
            @*@{var id =}id{ ;}*@

            @*alert($(this).data("id"));*@
            $.ajax({
                    type: "post",
                    url: "@Url.Action("DeleteStudent", "class")",
                    ajaxasync: true,
                    data: { id: $(this).data("id") },
                    success: function () {

                        alert("success");
                        location.reload();
                        // Perform redirect
                        @*window.location.replace("@Html.Action("details","class")");*@
                    },
                    error: function (data) {
                        alert(data.x);
                    }
                });
        });
    </script>
}
