@model DiemdanhHocvien.DataAccess.Class

@{
    ViewBag.Title = "Edit";
}
<style>
    /* This is to be able to center the content in the middle of the page; */

    .cat {
        margin: 4px;
        border-radius: 4px;
        border: 1px solid #fff;
        overflow: hidden;
        float: left;
    }

        .cat label {
            float: left;
            line-height: 3.0em;
            width: 4.0em;
            height: 2.0em;
        }

            .cat label span {
                text-align: center;
                padding: 2px 1px;
                display: block;
            }

            .cat label input {
                position: absolute;
                display: none;
                color: #fff !important;
            }
                /* selects all of the text within the input element and changes the color of the text */
                .cat label input + span {
                    color: black;
                }


        /* This will declare how a selected input will look giving generic properties */
        .cat input:checked + span {
            color: white;
            background-color: #66bb6a;
        }


    /*
    This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
    */
</style>


<div class="container-fluid" id="container-wrapper">

    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        @*<h1 class="h3 mb-0 text-gray-800">DataTables</h1>*@

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Student</li>
            <li class="breadcrumb-item active" aria-current="page">Delete</li>
        </ol>
    </div>
    <div class="row">
        <div class="col"></div>

        <div class="col-6">

            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Form Basic</h6>
                </div>
                <div class="card-body">
                    <form method="post" action="@Url.Action("edit")">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Code Name</label>
                            <input type="text" class="form-control" placeholder="Holy name" value="@Model.codeName" name="codeName">
                            @Html.ValidationMessageFor(model => model.codeName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">Class Name</label>
                            <input type="text" class="form-control" placeholder="last name" value="@Model.className" name="className">
                            @Html.ValidationMessageFor(model => model.className, "", new { @class = "text-danger" })

                        </div>
                        <div class="row">

                            <div class="col">

                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">Start day</label>
                                    @{String datestartDate = @Model.startDate.ToString("yyyy-MM-dd");}
                                    <input type="date" class="form-control" value="@datestartDate" name="startDate">
                                    @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="text-uppercase">End Day</label>
                                    @{String dateendDate = @Model.endDate.ToString("yyyy-MM-dd");}
                                    <input type="date" class="form-control" value="@dateendDate" name="endDate">
                                    @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <label for="exampleInputEmail1" class="text-uppercase">Day Of Week</label>
                        <div class="form-group ">
                            <div class="cat">
                                <label>
                                    <input id="thu2" type="checkbox" value="1" name="dayOfWeek"><span>Thu 2</span>
                                </label>
                            </div>

                            <div class="cat ">
                                <label>
                                    <input id="thu3" type="checkbox" value="2" name="dayOfWeek"><span>Thu 3</span>
                                </label>
                            </div>

                            <div class="cat ">
                                <label>
                                    <input id="thu4" type="checkbox" value="3" name="dayOfWeek"><span>Thu 4</span>
                                </label>
                            </div>

                            <div class="cat ">
                                <label>
                                    <input id="thu5" type="checkbox" value="4" name="dayOfWeek"><span>Thu 5</span>
                                </label>
                            </div>

                            <div class="cat ">
                                <label>
                                    <input id="thu6" type="checkbox" value="5" name="dayOfWeek"><span>Thu 6</span>
                                </label>
                            </div>

                            <div class="cat ">
                                <label>
                                    <input id="thu7" type="checkbox" value="6" name="dayOfWeek"><span>Thu 7</span>
                                </label>
                            </div>

                            <div class="cat CN">
                                <label>
                                    <input id="CN" type="checkbox" value="0" name="dayOfWeek"><span>CN</span>
                                </label>
                            </div>

                        </div>


                        @using DiemdanhHocvien.CustomAuthentication
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            var identity = ((CustomPrincipal)HttpContext.Current.User);

                            <div class="form-group">
                                <input type="hidden" name="userId" value="@identity.UserId" />
                            </div>
                        }


                        <div class="d-inline-flex">

                            <button type="submit" class="btn btn-primary">SAVE</button>
                            <a href="@Url.Action("index" )" class="btn btn-primary">Back to list</a>
                        </div>


                    </form>

                </div>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>




@section _Header{
    <!-- Bootstrap DatePicker -->
    <link href="vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap Touchspin -->
    <link href="vendor/bootstrap-touchspin/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
    <!-- ClockPicker -->
    <link href="vendor/clock-picker/clockpicker.css" rel="stylesheet">
}
@section _Footer{
    
        <script>
            $("#actionName").text("Edit Class")
        </script>
   
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="~/Areas/admin/Assets/#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Page level plugins -->
    <script src="~/Areas/admin/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>


    <script>
        $(document).ready(function () {


            $('.select2-single').select2();

            // Select2 Single  with Placeholder
            $('.select2-single-placeholder').select2({
                placeholder: "Select a Province",
                allowClear: true
            });

            // Select2 Multiple
            $('.select2-multiple').select2();

            // Bootstrap Date Picker
            $('#simple-date1 .input-group.date').datepicker({
                format: 'dd/mm/yyyy',
                todayBtn: 'linked',
                todayHighlight: true,
                autoclose: true,
            });

            $('#simple-date2 .input-group.date').datepicker({
                startView: 1,
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                todayBtn: 'linked',
            });

            $('#simple-date3 .input-group.date').datepicker({
                startView: 2,
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                todayBtn: 'linked',
            });

            $('#simple-date4 .input-daterange').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true,
                todayBtn: 'linked',
            });

            // TouchSpin

            $('#touchSpin1').TouchSpin({
                min: 0,
                max: 100,
                boostat: 5,
                maxboostedstep: 10,
                initval: 0
            });

            $('#touchSpin2').TouchSpin({
                min: 0,
                max: 100,
                decimals: 2,
                step: 0.1,
                postfix: '%',
                initval: 0,
                boostat: 5,
                maxboostedstep: 10
            });

            $('#touchSpin3').TouchSpin({
                min: 0,
                max: 100,
                initval: 0,
                boostat: 5,
                maxboostedstep: 10,
                verticalbuttons: true,
            });

            $('#clockPicker1').clockpicker({
                donetext: 'Done'
            });

            $('#clockPicker2').clockpicker({
                autoclose: true
            });

            let input = $('#clockPicker3').clockpicker({
                autoclose: true,
                'default': 'now',
                placement: 'top',
                align: 'left',
            });

            $('#check-minutes').click(function (e) {
                e.stopPropagation();
                input.clockpicker('show').clockpicker('toggleView', 'minutes');
            });

        });
    </script>


    @*@Html.DisplayFor(modelItem => item.dayOfWeek)*@
    @{ List<int> dayof = Model.dayOfWeek.Split(',').Select(Int32.Parse).ToList(); }
    @*@dayof[0]*@
    @foreach (var day in dayof)
    {

        switch (day)
        {
            case 1:
                <script>$("#thu2").prop("checked", true);</script>
                break;
            case 2:
                <script>$("#thu3").prop("checked", true);</script>
                break;
            case 3:
                <script>$("#thu4").prop("checked", true);</script>
                break;
            case 4:
                <script>$("#thu5").prop("checked", true);</script>
                break;
            case 5:
                <script>$("#thu6").prop("checked", true);</script>
                break;
            case 6:
                <script>$("#thu7").prop("checked", true);</script>
                break;
            case 0:
                <script>$("#CN").prop("checked", true);</script>
                break;
            default:
                break;
        }
    }



}